- if @project.feature_available?(:issuable_default_templates)
  %fieldset.features.append-bottom-0.issues-feature
    %hr
    %h5.prepend-top-0
      Issues
    .form-group
      = form.label :issues_template, class: 'label-light' do
        Default description template for issues
        = link_to icon('question-circle'), help_page_path('user/project/description_templates', anchor: 'setting-a-default-template-for-issues-and-merge-requests'), target: '_blank'
      = form.text_area :issues_template, class: "form-control", rows: 3
      .hint
        Description parsed with #{link_to "GitLab Flavored Markdown", help_page_path('user/markdown'), target: '_blank'}.
